*~
*.db
*.bak
create_wundergroundInfo.js.MINE
create_wundergroundInfo.js.clean
AlpharettaWeatherServer.js
public/AlpharettaWeather.css
public/AlpharettaWeather.html
public/OurHomeAlpharettaSnow1.jpg
OLD-geeksWeather.js
Software_Dependents.txt
geeksWeather.log
old/
public/aPublicPage.html
*.swp
public/stylesheets/style.css
public/testingJade.jade
todo.txt
viewResults.txt
viewWundergroundDatabase.js
views/about.jade
views/detail-old-not-working.jade
views/headers.jade
views/styleExample.html
views/styleExample.jade
views/threeCol.html
views/timeAndWeather.html
configureGeeksWeather.html
Documentation
node_modules

