*~
*.db
*.bak
wundergroundKey.json
create_wundergroundInfo.js.MINE
create_wundergroundInfo.js.clean
AlpharettaWeatherServer.js
public/AlpharettaWeather.css
public/AlpharettaWeather.html
public/OurHomeAlpharettaSnow1.jpg
OLD-geeksWeather.js
Software_Dependents.txt
geeksWeather.log
old/
public/aPublicPage.html
*.swp
public/stylesheets/style.css
public/testingJade.jade
todo.txt
viewResults.txt
viewWundergroundDatabase.js
views/about.jade
views/detail-old-not-working.jade
views/headers.jade
views/styleExample.html
views/styleExample.jade
views/threeCol.html
views/localForecast.html
configureGeeksWeather.html
MyEnvironmentDocs
node_modules
npm-debug.log
start
output.html
output.log
debugging.txt
Documentation/WundergroundResponseData.txt
Documentation/LinksysWebVideoCameraWVC54GCA-EU_V10_UG_A-WEB.pdf
public/javascripts/calEvents.db
putlic/javascripts/useDB.js
public/javascripts/_calPersonalEvents.json
public/javascripts/myapp.js
public/javascripts/myapp2.js
public/javascripts/useCreateCalWithEvents.js
public/javascripts/useDB.js
public/javascripts/useMyapp.js
public/tools/test.html
public/database/_calPersonalEvents.json
public/database/calEvents.db*
public/tools/testCalendar.html
public/logs/*

