h1 About geeksWeather
p
    This is an ongoing effort by BBQBailey to produce a simple website that will demonstrate the use of Express.
    At this time, I'm just now starting to use Express and Jade.
    Today is Friday, Jan 8, 2016.


