//output:output.log 

html(lang='en')
  
head
  title geeksWeather!
  link(rel='icon' href='/images/bbqBailey.png')
  link(rel='stylesheet' type='text/css' href='/stylesheets/geeksWeather.css')
  meta(HTTP-EQUIV="CACHE-CONTROL", CONTENT="NO-CACHE")
  meta(http-equiv="refresh", content="600")

    
body(style='height: 100%')
  div
    p(id="calendar") (calendar failed to fill in)
    script(src="//code.jquery.com/jquery-2.1.4.min.js")
    script(src="javascripts/calendar.js" style="height:'950px'")
