head

div(id='pagewrap')

    header
        title Time and Weather!
        link(href='https://fonts.googleapis.com/css?family=Orbitron:900' rel='stylesheet' type='text/css')
        link(rel='icon' href='/images/bbqBailey.png')
        link(rel='stylesheet' type='text/css' href='/stylesheets/threeCol.css')

        
    section(id='topTime')
        div(id="time" ) Time: Waiting...
    
    section(id='topTemp')
        div(id="temp_f" ) 
    
    section(id='today')
        div(id='today_high'  style='em') H: 
        div(id='today_low') L: 
        div(id='wind') W: 

    
    section(id='tomorrow')
        div(id='tmrw_high') H:
        div(id='tmrw_low') L: 
        div(id='tmrw_wind') W: 

    section(id='todayCond')
        div(id='cond')

    section(id='tomorrowCond')
        div(id='tmrw_cond')


    footer
        button(onclick='moveToTimeAndRadar()' class='pageSelection' id='southernUSRadarButton' value='Southern US Radar') Southern US Radar
        button(onclick='moveToConus()' class='pageSelection' id='conusRadarButton' value='conusRadarButton')  USA Radar
        button(onclick='moveToAtlantaRadar()' class='pageSelection' id='atlantaRadarButton' value='atlantaRadarButton')  Atlanta Radar
        button(onclick='moveToConusSatellite()' class='pageSelection' id='conusSatelliteButton' value='conusSatelliteButton')  Continental USA Satelllite Image
        button(onclick='moveToConusForecastMap()' class='pageSelection' id='conusForecastMapButton' value='conusForecastMapButton')  Continental USA Forecast Map 
        div(id='state') State:
        div(id='station') Station:
 


    script(src="//code.jquery.com/jquery-2.1.4.min.js") 

    script.
        function moveToTimeAndRadar() {
            window.location.href = 'timeAndRadar'
        }
    script.
        function moveToConus() {
            window.location.href = 'timeAndConus'
        }

    script.
        function moveToAtlantaRadar() {
            window.location.href = 'atlantaRadar'
        }

    script.
        function moveToConusSatellite() {
            window.location.href = 'conusSatellite'
        }

    script.
        function moveToConusForecastMap() {
            window.location.href = 'conusForecastMap'
        }

      
    script.
        if(!!window.EventSource) {
            console.log('inside window.EventSource')
            var source = new EventSource('/eventEngine')
            console.log('after call to EventSource');
            source.addEventListener('open', function(e) {
                $("#state").text("Connected")
                console.log('open received')
            }, false)

            source.addEventListener('weather', function(e) {
                console.log('eventListener: weather: ', e);
                weather_data = JSON.parse(e.data);
                forecast = weather_data.forecast;
                var windRound = Math.round(weather_data.wind_mph);
                $("#today_high").text(     " H: " + forecast[0].high.fahrenheit);
                $("#today_low").text(      " L: " + forecast[0].low.fahrenheit);
                $("#wind").text(           " W: " + windRound);
                $("#cond").text(           weather_data.icon);
                console.log("Bengy - today's conditions icon: " + weather_data.icon + '.gif');
                $("#today").css('background-image', 'url(http://icons.wxug.com/i/c/h/' + weather_data.icon + '.gif)');

                
                $("#tmrw_high").text(      " H: " + forecast[1].high.fahrenheit);
                $("#tmrw_low").text(       " L: " + forecast[1].low.fahrenheit);
                $("#tmrw_wind").text(      " W: " + forecast[1].avewind.mph);
                $("#tmrw_cond").text(      forecast[1].conditions);
                $("#state").text(" Connected");
                $("#station").text("Station: " + weather_data.station);
                console.log("weather: ", weather_data);
                console.log("forecast: ", weather_data.forecast);
                console.log("Bengy - tomorrow's conditions icon: " + forecast[1].icon + '.gif');
                $("#tomorrow").css('background-image', 'url(http://icons.wxug.com/i/c/h/' + forecast[1].icon + '.gif)');
                                                 
            }, false)


            source.addEventListener('time', function(e) {
                console.log('eventListener: time: ', e);
                timeTemp = JSON.parse(e.data);
                console.log('time: ', timeTemp.time);
                $("#time").text(timeTemp.time);
                $("#temp_f").text(Math.round(timeTemp.temp_f));
                $("state").text(" Connected");
            })


            source.addEventListener('error', function(e) {
                console.log('eventlistener: error: ', e)
                if(e.target.readyState == EventSource.CLOSED) {
                    $("#temp_f").text("T");
                    $("#today_high").text(     " H:");
                    $("#today_low").text(      " L:");
                    $("#wind").text(           " W:");
                    $("#cond").text(           " C:");
                    $("#tmrw_high").text(      " H:");
                    $("#tmrw_low").text(       " L:");
                    $("#tmrw_wind").text(      " W:");
                    $("#tmrw_cond").text(      );
                    $("#state").text(" Disconnected");
                    $("#station").text(" Disconnected");
                } else if (e.target.readyState == EventSource.CONNECTING) {
                    $("#temp_f").text("T");
                    $("#today_high").text(     " H:");
                    $("#today_low").text(      " L:");
                    $("#wind").text(           " W:");
                    $("#cond").text(           );
                    $("#tmrw_high").text(      " H:");
                    $("#tmrw_low").text(       " L:");
                    $("#tmrw_wind").text(      " W:");
                    $("#tmrw_cond").text(      );
                    $("#state").text("Connecting...");
                    $("#station").text("Station: Connecting...");
                }
            }, false)
        } else {
            console.log("Your browser doesn't support SSE")
        }






