doctype html
html
    head
        Title Time and Weather!
        <link href='https://fonts.googleapis.com/css?family=Orbitron:900' rel='stylesheet' type='text/css'>
        <link rel='icon' href='./images/bbqBailey.png'>
        <link rel='stylesheet' type='text/css' href='./css/stylesheets.css'>

        style.
            header {
                font-family: 'Orbitron', sans-serif;
                font-size: 100px;
                color: #007700;
                text-align: left;
                padding: 10px;
            }

            .today {
                font-family: sans-serif-bold;
                font-size: 80px;
                width: 350px;
                padding: 10px;
                display: inline;
                float: left;
            }

            .tomorrow {
                font-family: sans-serif-bold;
                font-size: 80px;
                width: 350px;
                padding: 10px;
                display: inline;
                float: left;
            }

            .footer {
                padding: 10px;
                display: inline;
            }


    body
        header
            div(id="time" ) Time: Waiting...
            div(id="temp_f" ) 

        div 
            left(class='today')    
                div(id="today_high"  style='em') H:
                div(id="today_low"   ) L:
                div(id="wind"        ) W:
                div(id="cond"        ) C:

            right(class='tomorrow')
                div(id="tmrw_high"   ) H:
                div(id="tmrw_low"    ) L:
                div(id="tmrw_wind"   ) W:
                div(id="tmrw_cond"   ) C:

        div
        br
        br
        br
        br
        br
        br
        br
        br
        br

        div(class='footer')
            div(id='state') State:
            div(id='station') Station:


        script(src="//code.jquery.com/jquery-2.1.4.min.js") 

        script.
            if(!!window.EventSource) {
                console.log('inside window.EventSource')
                var source = new EventSource('/eventEngine')
                console.log('after call to EventSource');
                source.addEventListener('open', function(e) {
                    $("#state").text("Connected")
                    console.log('open received')
                }, false)

                source.addEventListener('weather', function(e) {
                    console.log('eventListener: weather: ', e);
                    weather_data = JSON.parse(e.data);
                    forecast = weather_data.forecast;
                    $("#temp_f").text(weather_data.temp_f);
                    $("#today_high").text(     " H: " + forecast[0].high.fahrenheit);
                    $("#today_low").text(      " L: " + forecast[0].low.fahrenheit);
                    $("#wind").text(           " W: " + weather_data.wind_mph);
                    $("#cond").text(           " C: " + weather_data.icon);

                    $("#tmrw_high").text(      " H: " + forecast[1].high.fahrenheit);
                    $("#tmrw_low").text(       " L: " + forecast[1].low.fahrenheit);
                    $("#tmrw_wind").text(      " W: " + forecast[1].avewind.mph);
                    $("#tmrw_cond").text(      " C: " + forecast[1].conditions);
                    $("#state").text(" Connected");
                    $("#station").text("Station: " + weather_data.station);
                    console.log("weather: ", weather_data);
                    console.log("forecast: ", weather_data.forecast);
                                                     
                }, false)


                source.addEventListener('time', function(e) {
                    console.log('eventListener: time: ', e);
                    time = JSON.parse(e.data);
                    console.log('time: ', time);
                    $("#time").text(time);
                    $("state").text(" Connected");
                })


                source.addEventListener('error', function(e) {
                    console.log('eventlistener: error: ', e)
                    if(e.target.readyState == EventSource.CLOSED) {
                        $("#temp_f").text("T");
                        $("#today_high").text(     " H:");
                        $("#today_low").text(      " L:");
                        $("#wind").text(           " W:");
                        $("#cond").text(           " C:");
                        $("#tmrw_high").text(      " H:");
                        $("#tmrw_low").text(       " L:");
                        $("#tmrw_wind").text(      " W:");
                        $("#tmrw_cond").text(      " C:");
                        $("#state").text(" Disconnected");
                        $("#station").text(" Disconnected");
                    } else if (e.target.readyState == EventSource.CONNECTING) {
                        $("#temp_f").text("T");
                        $("#today_high").text(     " H:");
                        $("#today_low").text(      " L:");
                        $("#wind").text(           " W:");
                        $("#cond").text(           " C:");
                        $("#tmrw_high").text(      " H:");
                        $("#tmrw_low").text(       " L:");
                        $("#tmrw_wind").text(      " W:");
                        $("#tmrw_cond").text(      " C:");
                        $("#state").text("Connecting...");
                        $("#station").text("Station: Connecting...");
                    }
                }, false)
            } else {
                console.log("Your browser doesn't support SSE")
            }






