@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: sans-serif-bold;
  color: #black;
  font-size: 200px;

}

.preFont {
  display:block;
  font-family: monospace;
  white-space: pre;
  font-size: 27px;
}

/* STRUCTURE */

#mainArea {
	padding: 5px;
  float: left;
	width: 3000px;
	margin: 20px; /* auto; /* auto centers on page */
}

#mainForecastArea {
	padding: 5px;
  float: left;
	width: 3000px;
	margin: 20px; /* auto; /* auto centers on page */
}


#topTime {
    padding-right: 60px;
    width: 1000px;
    float: left;
    font-family: 'Orbitron', sans-serif;
    font-size: 200px;
    color: #007700;
 }

#topTemp {
    padding-left: 40px;
    padding-right: 0;
    width: 400px;
    float: right;
    font-family: 'Orbitron', sans-serif;
    font-size: 200px;
    color: #000000;
}

#today {
	width: 700px;
	float: left;
	padding: 5px 15px;
    font-family: sans-serif-bold;
    font-weight: 900;
    background-size: contain;
    backround-repeat: no-repeat;
}

#tomorrow {
	width:700px; /* Account for margins + border values */
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
    font-family: sans-serif-bold;
    font-weight: 900;
    background-size: contain;
    backround-repeat: no-repeat;
}

#todayCond {
    width: 700px;
    float: left;
    padding: 5px 15px;
    margin: 0px 5px 5px 5px;
    font-size: 80px;
    font-family: sans-serif-bold
    font-weight: 900;
}

#tomorrowCond {
    width: 700px;
    float: left;
    padding: 5px 15px;
    margin: 0px 5px 5px 5px;
    font-size: 80px;
    font-family: sans-serif-bold
    font-weight: 900;
}

#sidebar {
	width: 270px;
	padding: 5px 15px;
	float: left;
}

#wundergroundLogo {
  width: 1.25in;
  margin-left: 60px;
}

#image {
  transform: scale(1,1);
}

.forecastday {
  float: left;
  font-size: 40px;
  margin-right:30px;
}

.detailedInfo {
  float: left;
  font-size: 60px;
}

button.pageSelection {
    height: 60px;
}

footer {
	clear: both;
	padding: 0 15px;
	font-size: 40px;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {

	#mainArea {
		width: 94%;
	}
	#content {
		width: 41%;
		padding: 1% 4%;
	}
	#middle {
		width: 41%;
		padding: 1% 4%;
		margin: 0px 0px 5px 5px;
		float: right;
	}

	#sidebar {
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}

	header, footer {
		padding: 1% 4%;
	}
}

/* for 700px or less */
@media screen and (max-width: 600px) {

	#content {
		width: auto;
		float: none;
	}

	#middle {
		width: auto;
		float: none;
		margin-left: 0px;
	}

	#sidebar {
		width: auto;
		float: none;
	}

}

/* for 480px or less */
@media screen and (max-width: 480px) {

	header {
		height: auto;
	}
	h1 {
		font-size: 2em;
	}
	#sidebar {
		display: none;
	}

}


#content {
	background: #f8f8f8;
}
#sidebar {
	background: #f0efef;
}
header, #content, #middle, #sidebar {
	margin-bottom: 5px;
}

#mainArea, header, #content, #middle, #sidebar, footer {
	border: solid 1px #ccc;
}
