  @import url(http://fonts.googleapis.com/css?family=Orbitron:900);

  body {
    margin-left: 5px;
    padding: 0;
  }

  #timeAndTemp {
    height: 18%;
    margin-left: 5px;
    padding-left:10px;
    font-size: 200px;
    font-family: 'Orbitron', sans-serif;
  }
  /*
  #topTime {
      float: left;
      color: #007700;
   }
   #topTemp {
     float: left;
     color: #000000;
     padding-left: 8%;
   }*/
   main {
     margin-top: 50px;
     margin-left: 5px;
   }

   #myImage {
     height: 67%;
   }

   footer {
     float: left;
   }
</style>
