head
  title geeksWeather!
  link(rel='icon' href='/images/bbqBailey.png')
  link(href='https://fonts.googleapis.com/css?family=Orbitron:900' rel='stylesheet' type='text/css')
  link(rel='stylesheet' type='text/css' href='/stylesheets/geeksWeather.css')
  meta(HTTP-EQUIV="CACHE-CONTROL", CONTENT="NO-CACHE")
  meta(http-equiv="refresh", content="600")
    

  script.
    var camera1uri="#{camera1uri}"

  body
    section(id='mainCameraArea')
      section(id='status')
        div(id='died')
          img(src='/images/hesDeadJim.jpg', id='hesDeadJim', style='display:none')
        script(src="//code.jquery.com/jquery-2.1.4.min.js")
        script(src="/javascripts/geeksWeatherEvents.js")
        console.log("camera1uri: ", camera1uri)      
        img(src=camera1uri,height="100%")
      
    footer(class="footer")
      button(onclick='window.location.href="slideShow"' class='pageSelection' id='homeButton' value='Slide Show')
      img(src="/images/wundergroundLogo_4c_horz.png", id="wundergroundLogo", style="width:1.5in")
      img(src='/images/bbqBailey.png', id='bbqbaileyLogo')


  
    
