//output:output.html

head
  title geeksWeather!
  link(rel='icon' href='/images/bbqBailey.png')
  link(href='https://fonts.googleapis.com/css?family=Orbitron:900' rel='stylesheet' type='text/css')
  link(rel='stylesheet' type='text/css' href='/stylesheets/geeksWeather.css')
  meta(HTTP-EQUIV="CACHE-CONTROL", CONTENT="NO-CACHE")
  meta(http-equiv="refresh", content="600")

body
  section(id='wholePageSection')
    section(id="topSection")
      div(id='topTime')
        div(id="time" ) Time: Waiting... 
      div(id='topTemp') 
        div(id="temp_f" )  
    section(id="mainDetailedInfoArea")
      section(id='status')
        div(id='died')
          img(src='/images/hesDeadJim.jpg', id='hesDeadJim', style='display:none')
      section
        section(class='detailedInfo' style='text-align:left')
          div
            p <em>Current Conditions: </em>
              pre(style='padding-left: 50px')
                div(id='temp')
                div(id='rel_hum')
                div(id='wind_dir')
                div(id='wind_mph')
                div(id='wind_gust')
                div(id='press_mb')
                div(id='press_trend')
                div(id='dewpoint')
                div(id='visibility')
                div(id='prec_1h')
                div(id='prec_todayInch')
        section(class='detailedInfo' style='text-align:left')
          div
            p <em>Today's Forecast</em>
              pre(style='padding-left: 50px')
                div(id='today_high')
                div(id='today_low')
                div(id='wind')
                div(id='cond')
            p <em> Sun </em>
              pre(style='padding-left: 50px')
                div(id='sun_sunrise_hr') SRH:
                div(id='sun_sunrise_min') SRM:
                div(id='sun_sunset_hr') SSH:
                div(id='sun_sunset_min') SSM:

            p <em> Moon: </em>
              pre(style='padding-left: 50px')
                div(id='moon_pctIllum') MI:
                div(id='moon_ageOfMoon') MA:
                div(id='moon_phaseofMoon') MP:
                div(id='moon_hemisphere') MH:
                div(id='moon_moonrise_hr') MRH:
                div(id='moon_moonrise_min') MRM:
                div(id='moon_moonset_hr') MSH:
                div(id='moon_moonset_min') MSM:

        section(class='detailedInfo' style='text-align:left')
          div
            p <em> Tomorrow </em>
              pre(style='padding-left: 50px')
                div(id='high') FH:
                div(id='low') FL:
                div(id='conditions') FC: 
                div(id='icon') FI:
                div(id='pop') FP:
                div(id='qpf_allday') FA:
                div(id='qpf_day') FD:
                div(id='qpf_night') FN:
                div(id='snow_allday') SA:
                div(id='snow_day') SD:
                div(id='snow_night') SN:
                div(id='maxWindDegrees') MW:
                div(id='maxWindDir') MD:
                div(id='maxWindMph') MWM: 
                div(id='aveWindDegrees') AW:
                div(id='aveWindDir') AD:
                div(id='aveWindMPH') AWM:
                div(id='avehumidity') FU:
                div(id='maxhumidity') MU:
                div(id='minhumidity') LU: 

    section(class="footer")
      button(onclick='moveToHome()' class='pageSelection' id='homeButton' value='homeButton') Slide Show
      img(src="/images/wundergroundLogo_4c_horz.png", id="wundergroundLogo")
      img(src='/images/bbqBailey.png', id='bbqbaileyLogo')

 


  script(src="//code.jquery.com/jquery-2.1.4.min.js") 

  script.
    function moveToHome() {
        window.location.href = '/'
    }

  script(src = "/javascripts/geeksWeatherEvents.js")
    
  script.
    source.addEventListener('weather', function(e) {
      console.log('eventListener: weather: ', e);
      weather_data = JSON.parse(e.data);
      forecast = weather_data.forecast;

      var windRound = Math.round(weather_data.wind_mph);
      $("#today_high").text(" High: " + forecast[0].high.fahrenheit);
      $("#today_low").text(" Low: " + forecast[0].low.fahrenheit);
      $("#wind").text(" Wind MPH: " + windRound);
      $("#cond").text(" Conditions: " + weather_data.icon);

      
      $("#tmrw_high").text(      " High: " + forecast[1].high.fahrenheit);
      $("#tmrw_low").text(       " Low: " + forecast[1].low.fahrenheit);
      $("#tmrw_wind").text(      " Wind MPH: " + forecast[1].avewind.mph);
      $("#tmrw_cond").text(      " Conditions: " + forecast[1].conditions);
      $("#state").text(" Connected");
      $("#station").text("Station: " + weather_data.station);
      $("#tomorrow").css('background-image', 'url(http://icons.wxug.com/i/c/h/' + forecast[1].icon + '.gif)');
                                       
      $("#temp").text( " Temperature: " + weather_data.temp_f);
      $("#rel_hum").text( " Relative Humidity: " + weather_data.relative_humidity);
      $("#wind_dir").text( " Wind Direction: " + weather_data.wind_dir);
      $("#wind_mph").text( " Wind MPH: " + weather_data.wind_mph);
      $("#wind_gust").text( " Wind Gust: " + weather_data.wind_gust);
      $("#press_mb").text( " Pressure Millibars: " + weather_data.pressure_mb);
      $("#press_trend").text( " Pressure Trend: " + weather_data.pressure_trend);
      $("#dewpoint").text( " Dewpoint: " + weather_data.dewpoint_f);
      $("#visibility").text( " Visibility Miles: " + weather_data.visibility_mi);
      $("#prec_1h").text( " Precipation past hour: " + weather_data.precip_1hr_in);
      $("#prec_todayInch").text( " Precipation Today Inches: " + weather_data.precip_today_in);
      
      $("#moon_pctIllum").text( " Percent Illumination: " + weather_data.moon_pctIllum);
      $("#moon_ageOfMoon").text( " Age: " + weather_data.moon_ageOfMoon);
      $("#moon_phaseofMoon").text( " Phase: " + weather_data.moon_phaseofMoon);
      $("#moon_hemisphere").text( " hemisphere: " + weather_data.moon_hemisphere);
      $("#moon_moonrise_hr").text( " Rise Hour: " + weather_data.moon_moonrise_hr);
      $("#moon_moonrise_min").text( " Rise Minutes: " + weather_data.moon_moonrise_min);
      $("#moon_moonset_hr").text( " Set Hour: " + weather_data.moon_moonset_hr);
      $("#moon_moonset_min").text( " Set Minutes: " + weather_data.moon_moonset_min);
      $("#sun_sunrise_hr").text( " Rise Hour: " + weather_data.sun_sunrise_hr);
      $("#sun_sunrise_min").text( " Rise Minutes: " + weather_data.sun_sunrise_min);
      $("#sun_sunset_hr").text( " Set Hour: " + weather_data.sun_sunset_hr);
      $("#sun_sunset_min").text( " Set Minutes: " + weather_data.sun_sunset_min); 

      //forecast Tomorrow
      $("#high ").text( " High: " + forecast[0].high.fahrenheit);
      $("#low ").text( " Low: " + forecast[0].low.fahrenheit);
      $("#conditions ").text( " Conditions:  " + forecast[0].conditions);
      $("#icon ").text( " Icon: " + forecast[0].icon);
      $("#pop ").text( " Probability of Precipation: " + forecast[0].pop);
      $("#qpf_allday ").text( " Expected Rain Allday: " + forecast[0].qpf_allday.in);
      $("#qpf_day ").text( " Expected Rain Day: " + forecast[0].qpf_day.in);
      $("#qpf_night ").text( " Expected Rain Night: " + forecast[0].qpf_night.in);
      $("#snow_allday ").text( " Snow Allday: " + forecast[0].snow_allday.in);
      $("#snow_day ").text( " Snow Day: " + forecast[0].snow_day.in);
      $("#snow_night ").text( " Snow Night: " + forecast[0].snow_night.in);
      $("#maxWindDegrees ").text( " Max Wind Degrees: " + forecast[0].maxwind.degrees);
      $("#maxWindDir ").text( " Max Wind Direction: " + forecast[0].maxwind.dir);
      $("#maxWindMph ").text( " Max Wind MPH: " + forecast[0].maxwind.mph);
      $("#aveWindDegrees ").text( " Average Wind Degrees: " + forecast[0].avewind.degrees);
      $("#aveWindDir ").text( " Average Wind Direction: " + forecast[0].avewind.dir);
      $("#aveWindMph ").text( " Average Wind MPH: " + forecast[0].avewind.mph);
      $("#avehumidity ").text( " Average Humidity: " + forecast[0].avehumidity);
      $("#maxhumidity ").text( " Max Humidity: " + forecast[0].maxhumidity);
      $("#minhumidity ").text( " Min Humidity: " + forecast[0].minhumidity);
    }, false)


    source.addEventListener('error', function(e) {
      console.log('eventlistener: error: ', e)
      if(e.target.readyState == EventSource.CLOSED) {
        $("#temp_f").text(" Temperature: ");
        $("#today_high").text(     " Today's High: ");
        $("#today_low").text(      " Today's Low: ");
        $("#wind").text(           " Wind: ");
        $("#cond").text(           " Conditions: ");
        $("#tmrw_high").text(      " Tomorrow's High: ");
        $("#tmrw_low").text(       " Tomorrow's Low: ");
        $("#tmrw_wind").text(      " Tomorrow's Wind: ");
        $("#tmrw_cond").text(      " Tomorrow's Conditions: ");
        $("#state").text(" Disconnected");
        $("#station").text(" Disconnected");
      } else if (e.target.readyState == EventSource.CONNECTING) {
        $("#temp_f").text("Temperature: ");
        $("#today_high").text(     " Today's High: ");
        $("#today_low").text(      " Today's Low: ");
        $("#wind").text(           " Wind: ");
        $("#cond").text(           " Conditions: ");
        $("#tmrw_high").text(      " Tomorrow's High: ");
        $("#tmrw_low").text(       " Tomorrow's Low: ");
        $("#tmrw_wind").text(      " Tomorro'w Wind: ");
        $("#tmrw_cond").text(      " Tomorrow's Conditions: ");
        $("#state").text("Connecting...");
        $("#station").text("Station: Connecting...");
      } else {
        console.log("Your browser doesn't support SSE");
      }
    }, false)
