//output:output.html
include headers.jade
script.
  var theName = "#{name}";
  var DELAY = "#{DELAY}";
  var config={};
  var HES_DEAD_JIM = false;
  
  console.log("=============================================================")
  var configStringify = '!{config}';
  config = JSON.parse(configStringify);
  console.log("config: ",  config);
  console.log('config typeof: ', typeof config);
  console.log("config.splashPage: ", config.splashPage);
  console.log("===========================================================")

body
  div(id='pagewrap')
    title geeksWeather!
    link(href='https://fonts.googleapis.com/css?family=Orbitron:900' rel='stylesheet' type='text/css')
    link(rel='icon' href='/images/bbqBailey.png') 
    link(rel='stylesheet' type='text/css' href='/stylesheets/threeCol.css')
    link(rel='stylesheet' type='text/css' href='/stylesheets/slideShow.css')

    section(id='topTime')
      div(id="time" ) Time: Waiting... 

    section(id='topTemp') 
      div(id="temp_f" )

    section(id='status')
      div(id="died")
          img(src="/images/hesDeadJim.jpg", id="hesDeadJim", style="display:none")
      div(id='imageDiv')
        //why is bbqBailey still needed? It's in slideShow.displayPages.splashPage, but not working if not here!  If it has to be here to keep the page from being blank, then make this the splashPage and remove from slideShow.displayPages.
        img(src='/images/bbqBailey.png', height="900px")
        script(src = "/javascripts/slideShow.js")    

    script(src="//code.jquery.com/jquery-2.1.4.min.js")
    
      

    section(id='main')
      //      script(src = "/javascripts/slideShow.js")    
      script(src="/javascripts/geeksWeatherEvents.js")

  footer
    input( class='nav', type='button', value='Prev site', onclick='prevSite()', style='height:60px')
    input( class='nav', type='button', value='Next site', onclick='nextSite()', style='height:60px')
    input( class='nav', type='button', value='Detailed Weather Info', onclick='moveToDetailedInfo()')
    input( class='nav', id='pauseCB', type='checkbox', name='pause', value='checked', onchange='pauseChanged(this)')
    | Pause
